{% extends 'base.html' %}
{% load static %}

<title>{% block 'title' %}Cadastro de Medico{% endblock %}</title>

{% block 'content' %}
<div class="row justify-content-center">
  <div class="col-12 ">
    <div class="container">
        <form action="{% url 'cadastrar_medico' %}" method="POST"> {% csrf_token %}
              
          <div class="form-outline mb-4">
              <input type="text" id="typeNamelX-2" name="nome" class="form-control form-control-lg" />
              <label class="form-label" for="typeNamelX-2">Nome</label>
          </div>

          <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" name="email" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Email</label>
          </div>

          <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" name="senha" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
          </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button><br>
      </form>
    </div>
  </div>
</div>
{% endblock %}