{% extends 'base.html' %}
{% load static %}

<title>{% block 'title' %}Cadastro da Secretaria{% endblock %}</title>

{% block 'content' %}
    <table class="table">
        <thead>
          <tr class="table-light">
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Último login</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>{{user}}</td>
            <td>{{user.email}}</td>
            <td>{{user.last_login}}</td>
          </tr> 
        </tbody>
      </table>
{% endblock %}